html, body{
  height: 100%;
  width: 100%;
  font-family: Helvetica;
    }

logo {
  position: absolute;
  left: 400px;
}

footer {
  background: #f94555;
  width: 100%;
  height: 100px;
  text-align: left;
  position: absolute;
  top: 2200px;
  left: 0px;
  padding-left: 20px;
  padding-top: 5px;
}

References {
  position: relative;
  top: -95px;
  left: 525px;
}

rickroll {
  position: relative;
  top: -160px;
  left: 1100px;
}

index-box:nth-of-type(1) {
  float:left;
  width: 500px;
  height: 300px;
  border: 5px outset #f94555;
  background-color: #000015;
  font-size: 80%;
  padding: 10px;
  position: absolute;
  top: 160px;
  left: 100px;
  }

index-box:nth-of-type(2) {
  float: right;
  width: 500px;
  height: 300px;
  border: 5px outset #f94555;
  background-color: #000015;
  font-size: 80%;
  padding: 10px;
  position: absolute;
  top: 160px;
  left: 720px;
  }

index-box:nth-of-type(3) {
  float: left;
  border: 5px outset #f94555;
  background-color: #000015;
  font-size: 80%;
  position: absolute;
  left: 100px;
  top: 600px;
  }

agent-box:nth-of-type(1) {
  float:left;
  border: 2px outset;
  width: 450px;
  height: 350px;
  padding: 2px;
  position: absolute;
  left: 50px;
  top: 150px;
}

agent-box:nth-of-type(2) {
  float:left;
  border: 2px outset;
  width: 450px;
  height: 185px;
  padding: 2px;
  position: absolute;
  left: 550px;
  top: 160px;
}

agent-box:nth-of-type(3) {
  float:left;
  border: 2px outset;
  width: 450px;
  height: 105px;
  padding: 2px;
  position: absolute;
  left: 550px;
  top: 370px;
}

agent-box:nth-of-type(4) {
  float:left;
  border: 2px outset;
  width: 450px;
  height: 60px;
  padding: 2px;
  position: absolute;
  left: 550px;
  top: 500px;
}

agent-box:nth-of-type(5) {
  float:left;
  text-align: center;
  border: 2px outset;
  width: 200px;
  height: 1600px;
  position: absolute;
  left: 1115px;
  top: 80px;
}

agent-box:nth-of-type(6) {
  text-align: center;
  border: 2px outset;
  width: 200px;
  height: 120px;
  position: fixed;
  right: 24px;
  bottom: 25px;
}

agent-box:nth-of-type(7) {
  text-align: center;
  border: 2px outset;
  width: 215px;
  height: 30px;
  position: absolute;
  left: 415px;
  top: 660px;
}

agent-box:nth-of-type(8) {
  text-align: center;
  border: 2px outset;
  width: 815px;
  height: 266px;
  position: absolute;
  left: 100px;
  top: 720px;
}

agent-box:nth-of-type(9) {
  text-align: center;
  border: 2px outset;
  width: 815px;
  height: 266px;
  position: absolute;
  left: 100px;
  top: 1016px;
}

agent-box:nth-of-type(10) {
  text-align: center;
  border: 2px outset;
  width: 815px;
  height: 266px;
  position: absolute;
  left: 100px;
  top: 1312px;
}

agent-box:nth-of-type(11) {
  text-align: center;
  border: 2px outset;
  width: 815px;
  height: 266px;
  position: absolute;
  left: 100px;
  top: 1608px;
}

div table:nth-of-type(1) {
        position: absolute;
        left: 590px;
        top: 170px;
      }

div table:nth-of-type(2) {
        position: absolute;
        left: 110px;
        top: 730px;
      }

div table:nth-of-type(3) {
        position: absolute;
        left: 110px;
        top: 1023px;
      }

div table:nth-of-type(4) {
        position: absolute;
        left: 110px;
        top: 1320px;
      }

div table:nth-of-type(5) {
        position: absolute;
        left: 110px;
        top: 1616px;
      }
